node_modules/
# Logs
*storybook.log
npm-debug.log*
lerna-debug.log*
logs
*.log
# Local
*.local
# Dist
dist
dist-ssr
storybook-static
lib
# Testing
playwright-report
test-results
coverage
# Caches
.sass-cache
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.tool-versions
